*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-size: large;
  height: 100svh;
  width: 100dvw;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
  color: #ff59d6;
  font-weight: bold;
  pointer-events: initial;
}
a:hover {
  text-decoration: underline;
}

.papers-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100svh;
  width: 100svw;
  background-color: black;
  margin: auto;
  resize: both;
  overflow: auto;
}
.paper {
  /* flex-grow: 1; */
  width: 50%;
  margin: 3px; /* we do this combined with a differently colored container in the background to get a border. But using css border messes up the drawing position that is calculated in the script using the canvas.offsetLeft and offsetTop */
  background-color: white;
  image-rendering: pixelated
}

header span {
  text-align: center;
  user-select: none;
}
footer {
  max-width: 47.5rem;
  width: 100%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mono-font {
  font-family: 'Courier New', Courier, monospace;
}

.overlay-center > span {
  background-color: #141414d0;
  color: white;
  border: 2px outset #e3e3e3;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

button {
  padding: 0;
  margin: 0;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: large;
  cursor: pointer;

  background-color: #141414;
  color: white;
  border-radius: 10px;

  pointer-events: initial;
}
button:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.overlay-top, .overlay-center, .overlay-bottom-center {
  position: fixed;
  pointer-events: none;
}
.overlay-top {
  top: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay-top > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.overlay-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.overlay-center {
  top: 50%;
  width: 100%;
}
.overlay-bottom-center {
  bottom: 5px;
  width: 100%;
}
.overlay-bottom-center span, .overlay-top span {
  background-color: #ffffffa0;
  border-radius: 6px;
  padding: 2px 6px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
